h1{
    color: red;
    text-align: center;
}

body{
    background-color: black;
}

img{
    width: 100px;
    height: 100px;
}

.navbar{
    text-align: center;
} 

.navbar__menu{
    text-align: left;
}